lib/
*.gitignore

# MacOSX cruft
.DS_Store
build/
*.xcworkspace/
xcuserdata/
*.user


#Windows cruft
[Dd]ebug*/
[Rr]elease*/
ipch/
*.opensdf
*.sdf
*.suo
*.ncb
*.tlog
*.idb
*.pdb
*.psess
*.vspx
Resources.aps
